<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Favicon -->
	<link rel="shortcut icon" href="./images/favicon.png" type="image/png" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />


	<!-- Custom StyleSheet -->
	<link rel="stylesheet" href="./styles.css" />
	<title>Exotic - products</title>
</head>

<body>

	<!-- Navigation -->

	<nav class="nav">
		<div class="wrapper container">
			<div class="logo"><a href="/">
					<img src="./images/logo final.jpg" alt="">
				</a>
			</div>
			<ul class="nav-list">
				<div class="top">
					<label for="" class="btn close-btn"><i class="fas fa-times"></i></label>
				</div>
				<li><a href="/">Home</a></li>
				<li><a href="/products">Products</a></li>
				<li><a href="auth/login">Login</a></li>
				<li><a href="">Feedback</a></li>
				</li>

				<li>
					<ul class="drop-menu2">
					</ul>
				</li>
				<!-- icons -->
				<li class="icons">
					<a href="/cart">
						<span>
							<img src="./images/shoppingBag.svg" alt="" />
							<small class="count d-flex">0</small>
						</span>
					</a>
					<span><img src="./images/search.svg" alt="" /></span>
				</li>
			</ul>
			<label for="" class="btn open-btn"><i class="fas fa-bars"></i></label>
		</div>
	</nav>

	<!-- PRODUCTS -->

	<section class="section products">
		<div class="products-layout container">
			<div class="col-3-of-4">
				<form action="">
					<div class="item">
						<label for="sort-by">Sort By</label>
						<select name="sort-by" id="sort-by">
							<option value="title" selected="selected">Name</option>
							<option value="number">Price</option>
							<option value="search_api_relevance">Relevance</option>
							<option value="created">Newness</option>
						</select>
					</div>
					<div class="item">
						<label for="order-by">Order</label>
						<select name="order-by" id="sort-by">
							<option value="ASC" selected="selected">ASC</option>
							<option value="DESC">DESC</option>
						</select>
					</div>
					<a href="">Apply</a>
				</form>

				<div class="product-layout">
				<% list_of_products.forEach(item => { %>
					<div class="product">
						<div class="promotion-item">
							<img src="<%- item.img %>" alt="" />
							<div class="addCart">
								<i class="fas fa-shopping-cart"></i>
							</div>
							<ul class="side-icons">
							</ul>
						</div>
						<div class="promotion-content-<% item.class %>">
							<div class="bottom">
								<h3><a href="/products/find/<%= item._id %>"><%= item.title %></a></h3>
							</div>
						</div>
					</div>
				<% }) %>
				</div>

				<!-- PAGINATION -->
				<div class="pagination">
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer" class="section footer">
		<div class="container">
			<div class="footer-container">
				<div class="footer-center">
					<h3>INFORMATION</h3>
					<a href="#">About Us</a>
					<a href="#">Privacy Policy</a>
					<a href="#">Terms & Conditions</a>
					<a href="#">Contact Us</a>
					<a href="#">Site Map</a>
				</div>
				<div class="footer-center">
					<h3>CONTACT US</h3>
					<div>
						<span>
							<i class="fas fa-map-marker-alt"></i>
						</span>
						tunisia
					</div>
					<div>
						<span>
							<i class="far fa-envelope"></i>
						</span>
						Ecxotic@gmail.com
					</div>
					<div>
						<span>
							<i class="fas fa-phone"></i>
						</span>
						+216 20675713
					</div>
					<div class="payment-methods">
						<img src="./images/payment.png" alt="">
					</div>
				</div>
			</div>
		</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- Custom Scripts -->
	<script src="./js/index.js"></script>
</body>

</html>